In [3]:
import pandas as pd
import numpy as np

## Combine texts

In [45]:
df = pd.read_csv("new_new_bolt.csv")

In [46]:
df['helper'] = (df['speaker'] != df['speaker'].shift()) | (df['convo_id'] != df['convo_id'].shift())
df['helper_cumsum'] = df['helper'].cumsum()

df = df.groupby(['helper_cumsum', 'speaker', 'convo_id'], as_index=False)['text'].agg(', '.join)
df = df.drop('helper_cumsum', axis=1)

In [49]:
df.to_csv("combined.csv", index=False)

## Pred DF

In [4]:
text_df = pd.read_csv("combined.csv")

In [5]:
pred_df = pd.DataFrame(columns=['text', 'speaker', 'conversation'] + list(range(11)))
pred_df['text'] = text_df['text']
pred_df['speaker'] = text_df['speaker']  
pred_df['conversation'] = text_df['convo_id']

In [6]:
pred_df = pred_df.dropna(subset=['text'])

In [7]:
pred_df

,text,speaker,conversation,0,1,2,3,4,5,6,7,8,9,10
0,lee!,152988,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,oh no! the machine! hi aaron! i just read y...,152697,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,yeah?!,152988,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,yup!,152697,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,i was wondering if you were going to get it,152988,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
246081,"Ok,I'll call her back",153804,18427,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
246082,Why did you already book it?,153811,18427,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
246083,She called me back with message that there was...,153804,18427,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
246084,Planning on it.,153813,18428,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
246085,Ok,153804,18428,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
pred_df.to_csv("predictions.csv")

In [14]:
# utt_text = np.array(pred_df['utterance text'])

In [15]:
# lengths = [len(s.split()) if type(s) == str else len(str(s).split()) for s in utt_text ]

In [16]:
# # Plot the histogram
# plt.hist(lengths, bins=range(1, max(lengths) +2 ) )
# plt.xlabel('String Length')
# plt.ylabel('Frequency')
# plt.title('Histogram of String Lengths')
# plt.show()

NameError: name 'plt' is not defined